body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333; 
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #800020;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    border: 2px solid #800020;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white;
    color: #800020;
    border: 2px solid #800020;
    
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}